@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3> -->

<p>I am Asad Khan Orakzai from <b>Orakzai, Kohat, Pakistan</b> and I am currently studying BS Computer Science in <b>Kohat University of Science and Technology</b>, <b>KUST</b>, which is located in<b> Kohat City</b></p>
<p>We are doing Photography since 2 years, and we really want to share our Photography content with everyone. We have used DSLR Cameras but most of the photos are taken with phones.</p>
<p>The Photography content is uploaded after approving by the owner we do not use any unethical or inappropriate content on our website. <strong>Thank!</strong></p>
