@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Chikar Kot Bala<br />
    Hangu Road, Kohat. <br />
    <abbr title="Phone">P:</abbr>
    +923110933795
</address>

<address>
    <strong>Connect:</strong>   <a href="https://www.facebook.com/AsadKhanOrakzai123">Asad Khan Orakzai</a><br />
    <strong>Git Hub:</strong> <a href="https://github.com/AsadKhanOrakzai">Asad Khan Orakzai</a>
</address>