@{
    ViewBag.Title = "Home Page";
}

<h2>About This Application:</h2>
<p>This MVC5 Application adds new records(Car Details),<br>delete the records and edit the records. And it has a searching feature.<br> We can search our desired records.</p>